
*{
    margin: 0%;
    padding: 0%;
    
    font-family: 'poppins','sans-serif';
}
body {
    margin: 0%;
    padding: 0%;
    font-style: none;
    /*background-color: aqua; */
}

nav{
    border: 2px solid rgb(254, 49, 182);
    
    display: flex;
    justify-content: space-between;
    background: rgb(232, 231, 234);
    color: rgb(20, 20, 20);
    position: fixed;
    align-items: center;
    top: 0%;
    width: 100%;
    height: 80px;

}
nav ul {
    display: flex;
}
ul li {
    list-style: none;
}
ul li a{
   text-decoration: none; 
   margin-inline:20px;
   font-size: 18px;
   color: rgb(215, 15, 15);
   font-size: 18px;
   margin-right:11px;
}
ul li a:hover, ul  li a .active {
    color: rgb(red, green, blue);
    border-bottom: 2px solid rgb(194, 13, 13);
    box-shadow: 2px solid red ;
}

ul li .btn{
    
    padding: 4px 20px ;
    background-color: rgb(255, 0, 106);
    color: white;
    border-radius: 50px;
    border: 2px solid rgb(255, 0, 225);
    box-shadow: pink solid 2px ;

}



.logo h1{
    margin-left: 12px;

    font-size: 34px;
}
.icon{
    align-items: center;
    font-size: 30px;
    margin-right:17px;
    display: none;
    
}

@media(max-width:600px){
    
    nav ul{
        display: none;

    }
    .icon {
        display: flex;
        cursor: pointer;
    }
    .showData {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:60px;
        background-color: rgb(187, 238, 19);
        width: 100%;
        height: 240px;
        text-align: center;
        padding: 0px;
        gap:22px;



    }
    .mainText h1{
        font-size:30px;
        font-style: none;
    }
    .mainText h2 {
        font-style: none;
        font-size: 25px;
        color: aqua;
    }
   .mainText p{
        font-size:20px;
        letter-spacing: 0px;
        color: rgb(10, 18, 18);
    }
    .main button {
        margin-bottom: 60px;
        font-size: 20px;
        background: rgb(43, 43, 43);
    }
    .about-img img{
        display: none;
    }
    .about-content h2 {
        font-size: 30px;
    
    }
    .about-content h3{
        font-size: 20px;
        padding: 50px;
        
    }
    
    .about-content p{
        
        font-size: smaller;

       
        
    }
    .about-content a {
        
    }
    .contact form .input-box input,.contact form textarea{
    

 

 }


    

}


.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 122px;
    padding: 0%;
}
img {
    border-radius: 50%;
    width: 200px;
    border: 2px solid pink;
}
button {
    background: rgb(220, 8, 8);
    padding: 12px 26px;
    text-align: center;
    margin-top: 20px;
    border-radius: 60px;
    color: pink;
    border: solid 2px rgb(0, 255, 76);
    font-size: 25px;
    margin-bottom: 100px;
    padding: 12px 40px;
    

    
}
h1 {
    font-size: 50px;
    text-align: center;
    
}
h2 {
    font-size: 35px;
    text-align: center;

}
p{

font-size: 20px;
text-align: center;


}

/*about */


  .about{
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
   margin-bottom: 190px;
  }
  
  
  .about-content{
    margin-top: 122px;
    border: 2px solid red;

    padding: 45px;
    flex-direction: column;
    text-align: center;
  }

.heading{
    text-align: center;
    background:greenyellow;
    color: white;
    font-size: 45px;

}
 

  
  



.about-content  h3{
    margin: 20px;
    
    

     font-size: 34px;
     color: aquamarine;
     padding: 00px;

}
.about-content p{
    font-size: medium;
    margin: 35px;
    font-style:none;

}
.about-content a{
    padding: 10px;
    text-align: center;
    background: rgb(24, 231, 193);
    color: aliceblue;
    border: 2px solid black;
    text-decoration: none;
    font-size: 20px;
    border-radius: 60px;
   
    
}
.about-img img{
   width: 300px;
   height: 270px;
   border-radius: 50%;
   margin-top: 100px;
   border: 2px solid red;

   





} 


/* section */



.service {

 display: flex;
 flex-direction: column;
 justify-content: center;
min-height: 100vh;
padding: 20px 9%;
text-align: center;

}
.service .wrapper {


    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 50px;
}

.wrapper .box {
    padding:15px 15px;
    background:rgb(87, 194, 183);
    border: 6px solid rgb(61, 204, 233);
    color: black;
    border-radius: 10px;
}
 .box a {
    text-decoration: none;
    padding: 7px;
    background: rgb(20, 21, 20);
    color: azure;
    border-radius: 10px;
    border: 2px solid ;
    


 }

 .box p{
    text-align: center;
    text-decoration: none;
    margin-bottom: 15px;
 }

 
.form-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    
      
 

}
 

form {
    margin-top: 250px;
 display: flex;
 justify-content: center;
 flex-direction:column;
 gap: 30px;
 background: rgb(15, 217, 187);
 width: 100%;
 max-width: 400px;
 padding: 80px;
 border-radius: 50px;
 
 


}
form input{
    padding: 10px;
    border: 2px solid rgb(255, 47, 113);
    border-radius: 12px;
}
form textarea {
    padding: 8px;
    border: 2px solid red;
    border-radius: 12px;
    
    
}

form .bto{
    margin: 22px;
    background-color: rgb(0, 255, 60);
    border: solid 2px red;
    color: white;


}

